@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Readex Pro", sans-serif;
}
#home {
  display: flex;
  justify-content: space-around;
  h1 {
    font-weight: 500;
    font-size: 4rem !important;
    text-align: center;
    color: #444;
  }
  .cube {
    font-size: 5rem;
    // margin-top: 5rem;
    margin-top: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(128, 41, 41);
    text-align: center;
  }
}
.questions {
  margin-top: 5rem !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  margin: auto;
  width: 60%;
  padding: 1rem;
  .question-number {
    text-align: center;
    margin-bottom: 1rem;
  }
  .options-container {
    display: flex;
  }
  h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  h5 {
    margin-bottom: 10px;
    font-weight: 500;
    text-align: center;
  }
  .option {
    background-color: rgb(14, 128, 128);
    border-radius: 20px;
    color: white;
    cursor: pointer;
    margin: 15px auto;
    padding: 20px;
    transition: 0.3s linear all;
    text-align: center;
    width: 48%;
    &:hover {
      background-color: rgb(21, 216, 216);
    }
  }
  .button-container {
    display: flex;
    justify-content: center;
    margin: 0 auto 10px auto;
    padding: 15px;
    width: 200px;

    button {
      border: none;
      color: azure;
      cursor: pointer;
      margin-right: 10px;
      padding: 5px 10px;

      &:first-child {
        background-color: cadetblue;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        transition: 0.2s linear all;
        border-radius: 5px;
        &:hover {
          background-color: rgb(56, 96, 97);
        }
      }
      &:nth-child(2) {
        background-color: rgb(95, 160, 100);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        transition: 0.2s linear all;
        border-radius: 5px;
        &:hover {
          background-color: rgb(49, 85, 53);
        }
      }
      &:last-child {
        background-color: rgb(177, 68, 73);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        transition: 0.2s linear all;
        border-radius: 5px;
        &:hover {
          background-color: rgb(77, 27, 30);
        }
      }
    }
  }
}
.toast-valid {
  background-color: rgb(43, 155, 43) !important;
  text-align: center;
  color: white;
  padding: 10px 20px;
  width: 25%;
  margin: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 1rem;
}
.toast-invalid {
  margin: auto;
  margin-top: 1rem;
  background-color: rgb(155, 43, 43) !important;
  text-align: center;
  color: white;
  padding: 10px 20px;
  width: 25%;
  border-radius: 5px;
  margin-bottom: 10px;
}
.disable {
  background-color: #ccc !important;
  box-shadow: none !important;
  pointer-events: none;
  cursor: not-allowed !important;
}
@media screen and (max-width: 500px) and (min-width: 300px) {
  .questions {
    width: 100% !important;
    margin-top: 0px !important;
  }
  .questions .options-container {
    display: flex;
    flex-direction: column;
  }
  .questions .option {
    width: 80%;
  }
  .toast-valid {
    width: 60%;
  }
  .toast-invalid {
    width: 60%;
  }
}
